* {
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

#mainNavigation a {
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4)
}

.main_logo {
  height: 34px;
  width: 84px;
}

.dropdown-menu {
  position: relative !important;
  transform: none !important;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
  text-align: center;
}


a.dropdown-toggle {
  color: #dfdfdf !important
}

a.dropdown-item:hover {
  color: #4e7a7e !important;
}

.nav-item a {
  color: #dfdfdf;
}

.nav-item a:hover {
  color: #fff
}

.nav-item {
  min-width: 12vw;
}

#mainNavigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 123;
  padding-bottom: 50px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  /* IE6-9 */
}

#navbarNavDropdown.collapsing .navbar-nav,
#navbarNavDropdown.show .navbar-nav {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0015) 0%, rgba(0, 0, 0, 0) 100%);
  padding: 12px;
}


#list_card {
  --bs-gutter-x: 0px;
}

#list_card .card {
  padding: 20px;
  border: none;
  background-color: #f5f5f5;
}

#list_card .card .card-body {
  border-radius: 50px;
  color: white !important;
}

.square {
  padding: 5px 0px;
}


.card-img-top {
  height: 200px;
  width: 200px;
}

.shopping-items {
  overflow: visible;
  border: 1px solid transparent;
  text-align: start;
  margin: 10px;
  width: 300px;
  height: fit-content;
}

.background-test {
  display: flex;
  height: 700px;
  margin: 0px 1%;
}

.pic-shopping-items {
  height: 260px;
  width: 100%;
}

.card-body .add-cart {
  background-color: black;
  color: white;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

#input-result {
  width: 100%;
  padding: 220px 200px;
}

#game-img {
  width: 100%;
  margin: 50px 0 0 244px;
}